<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    sparepart - {% block title %}{% endblock %} | MIC div.
  </title> 

  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition sidebar-mini sidebar-is-opening text-sm">

<div class="wrapper">

    {% include 'includes/navigation.html' %}

    {% include 'includes/sidebar.html' %}

    <div class="content-wrapper">

      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>{% block content-header %}{% endblock %}</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                {% block content %}{% endblock content %}
              
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
