  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-info text-sm">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'main' %}" class="nav-link">MAIN</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'about' %}" class="nav-link">ABOUT</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %}" role="button">
            user: {{user.username}} | Logout  
            <i class="fas fa-sign-out-alt"></i>      
          </a>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}" role="button">
          Login 
          
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
